* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
	list-style:none;
	text-decoration: none;
}
html {
	font-size: 10px;
}
body {
    background-color:#ecf0f1;
    display: flex;
    flex-direction: column;
    text-anchor: middle;
    align-items: center;
    justify-content: center;
    color: #2c3e50;
	align-content: center;
	height:100vh;
}
[class="404"] {
	display: flex;
  justify-content: center;
  align-items: center;
    
    justify-content: center;
    flex-direction: column;
    
	border:2px solid #b2bec3;
	
}

[class="404-content"]{
	display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: anchor-center;
	align-content: center;
	
}

[class="404-content"]>h2{
	font-size:3rem;
	color: #95a5a6;
}
[class="404-content"]>p {
	font-size:2rem;
	color:#bdc3c7;
}