* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
	list-style:none;
	text-decoration: none;
}
html {
	font-size: 10px;
}

body {
    background-color: #2c3e50;
	max-width: 1140px;
    margin: 0 auto;
    width: 100%;
}

header {
	background:red;
	display: flex;
	/* flex-direction: column; */
	justify-content: space-between;
}
header nav ul li a {
	color:#95a5a6;
	text-decoration:none;
	transition: all 0.5s ease-in-out;
	font-size: 1.5rem;
	padding: 10px;
	text-decoration: none;

}
header nav ul li a:hover {
	color:#89a2aa;
	background: green;
	

}
header nav ul li{
	color:#fff;
	text-decoration:none;
}

header nav ul{ 
	display: flex;
	/* flex-direction: column; */
	
	align-items: center;
}

header nav {
	display: flex;
	
}

.banner {
	text-align: center;
	font-size: 1.55rem;
	background: url(../img/pexels-fwstudio-33348-129731.jpg)no-repeat center/cover;
	background-attachment: fixed;
	margin-top: 1rem;
	word-spacing: 1.2rem;
}


.banner>button {
    text-align: center;
    padding: 2rem 3.5rem;
    background: orange;
    border: none;
    outline: 0;
	margin-top: 1.2rem;
}
.about-us-section {
	 color:#2980b9;
	/* background-color: #e74c3c; */
	padding: 10px 20px;
	text-align: center;
	margin-top: 1rem;
	background:  url(../img/pexels-navlakha-33726145.jpg)no-repeat center top/cover;
	background-attachment: fixed;
}
.about-us-section>button {
	padding: 10px 20px;
	text-align:center;
	margin-top:0.5rem;
}

